.counter-div {
  width: 20%;
  text-align: center;
  border: 1px solid gainsboro;
  padding: 10px;
  margin: 5% auto 0 auto;
}

.counter-button {
  width: 25%;
  margin: 10px;
  border: 1px solid rgb(82, 32, 218);
  font-size: 20px;
}

.count-num {
  font-size: 2rem;
  color: rgb(82, 32, 218);
  font-weight: bold;
  
}

.done {
  background-color: green;
  color: white;
  padding: 2px;
}

.not-done {
  background-color: rgb(173, 35, 35);
  color: white;
  padding: 2px;
}

.posts-div {
  width: 50%;
  margin: auto;
}
